* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;

}
h2   {
    color: green;
    padding-right: 200px;
}

a {
    color: black;
    padding-left: 10px;
}

body {
    background-color: #ECE7B4;

}

main {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/17/02/adventure-1846482_960_720.jpg  );
    background-repeat: no-repeat;
    height: 700px;
    background-size: 100%;
    width: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {

    padding-top: 200px;
    text-align: center;
    color:whitesmoke
}

section .main-subtitle {
  color: whitesmoke;
}

.article {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 20px;
}

.article img {
    width: 300px;
}
.text {
   margin-top: 500px;
 }

h3 {
   padding-bottom: 8px;
   font-family: 'Courier New', Courier, monospace;
 }

.description {
   font-family: 'Courier New', Courier, monospace;

 }

.but {
   padding-top: 15px;
   font-family: 'Courier New', Courier, monospace;
 }


 /*VIAGENS*/

 .dicas-travel {
    display: flex;
    padding-left: 125px;
    padding-top: 100px;
 }

.dicas-travel img {
  width: 250px;


}

.text-travel {
  padding-left: 80px;
  font-family: 'Courier New', Courier, monospace;
}

.text-travel h3 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.text-travel button {
  margin-top: 50px;
}


/*TRILHAA*/

.dicas-trilha {
  display: flex;
  padding-left: 125px;
  padding-top: 100px;
}

.dicas-trilha img {
 width: 250px;
}

.text-trilha {
  padding-left: 80px;
  font-family: 'Courier New', Courier, monospace;
}

.text-trilha h3 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.text-trilha button {
  margin-top: 50px;
}

/*PASSEIO*/

.dicas-passeio {
  display: flex;
  padding-left: 125px;
  padding-top: 100px;
}

.dicas-passeio img {
  width: 250px;
}

.text-passeio {
  padding-left: 80px;
  font-family: 'Courier New', Courier, monospace;
}

.text-passeio h3 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.text-passeio button {
  margin-top: 50px;
}


/*botão geral*/

.button {
  border-radius: 30px;
  border-color: black;
  background-color: #FECEAB;
  width: 160px;
  height: 30px;
}

/*footer*/

footer {
  color: black;
  padding-bottom: 100px;
  padding-top: 100px;

}

.contact {
  padding-left: 300px;
  padding-right: 100px;
  margin-top: 100px;
}

footer img {
  width: 200px;
  height: 200px;
}

footer h2 {
  padding-left: 200px;
  padding-top: 250px;
}

footer p {
  font-family: 'Courier New', Courier, monospace;
}

.contact p {
  padding-top: 10px;
}

footer h3 {
  padding-top: 150px;
}

footer {
  display: flex;

}

.direitos {
  padding-top: 50px;
  padding-bottom: 25px;
}




